html{
    font-size: 62.5%;
}


*{
    margin:0;
    padding:0;
}


body{
    font-family: Bahnschrift, sans-serif;
    background-color: rgb(10, 9, 9);
}

main{
    position: relative;
    
}


 .header-div{
    display: block;
    margin: auto;
 }
h1{
    font-size: 5rem;
    margin: auto;
    text-align: center;
    text-transform:uppercase;
    z-index: 2;
    position: relative;
    color:rgb(229, 236, 238);
}
#img-div{
    display: block;

}
#image{
    display: block;
    margin: auto;
    padding: 0px;
    max-width: 70%;
    height: auto;
    transition: all 0.4s;
    border: solid rgb(119, 0, 255) 3px;
    border-radius: 30px; 
}

#img-caption{
    text-align: center;
    font-size: 2.5rem; 
    z-index: 1;
    position: relative;
    color: rgb(231, 194, 29);
}

#image:hover{
    transform: scale(1.25) translateY(-5px);
    z-index: 1;
    position: relative;
    border-radius: 0;
}

#tribute-info{
    margin: 10px;
}


.subheading{
    color: rgb(0, 255, 200);
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
}

.important{
  color: rgb(192, 29, 0);
  text-decoration: underline;
}

ul li .years{
    font-size: 3rem;
    background-color: rgba(220, 55, 102, 0.568);
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
    transition: all 0.3s ;
    color:rgb(173, 168, 168);
    border-radius: 10px;
}

ul{
  list-style: none;
}

ul li .info{
    font-size: 2rem;
    display: none;
    color: rgb(14, 13, 14)
}

ul li .years:hover{
    transform: scale(1.05);
    background-color: rgb(224, 225, 239);
    font-size: 3.5rem;
    color: rgb(165, 16, 16);
    text-decoration: underline;
}

ul li .years:hover .info{
    display: inline-block;
    animation: popup 0.5s ;
    margin: 1.2rem;
}
  
@keyframes popup{
    0%{
        transform:  translateX(-5rem) ;
        opacity: 0;
    }
   
    100%{
        transform: translate(0);
        opacity: 1;
    }
} 

.yearheading{
    color:rgb(29, 140, 231);
    font-size: 2.5rem;
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
}

.link-text{
    font-size: 3rem;
}

#tribute-link{
  color: blue;
  display: inline-block;
  transition: all .3s;
}

#tribute-link:hover{
  color: red;
  transform: translateY(-.5rem);
  text-decoration: none;
}